/* General App */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #2e5fad;
  /*height: 150px;*/
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.7em;
  font-family: Garamond, Palatino, Times, serif;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* Bookshelves and Books */

.book-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.book {
  width: 200px;
  list-style-type: none;
  margin: 30px;
}

.cover {
    height: 200px;
    width: auto;
}

.title {
  text-align: left;
  color: #2e5fad;
  font-weight: bold;
  padding-left: 15px;
}

.subtitle {
  text-align: left;
  padding-left: 15px;
  padding-bottom: 5px;
}

.author {
  text-align: left;
  font-style: italic;
  padding-left: 15px;

}

/* Main App */

.search-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.search-button a {
  background: green;
  background-image: url('./icons/add.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:25px;
  border-radius:20px;
  font-size: 0;
  display: block;
  width: 40px;
  height: 40px;
}

/* Search App */

.search-bar {
  position: fixed;
  width: 100%;
  top: 10px;
  z-index: 5;
  display: flex;
}


.back-button {
  top: 25px;
}

.back-button a{
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  font-size: 0;
  display: block;
  width: 35px;
  height: 35px;
  padding-left: 40px;
}

.search-input {
  width: 80%;
}

.search-input input {
  width:100%;
  font-size: 1.4em;
  border: none;
}

.results-header {
  padding-top: 50px;
}
